.social__button:not(:last-child) {
  margin-right: 20px;

  &__img {
    @include tablet {
      width: 8%;
      height: auto;
    }
    @include phone {
      width: 10%;
      height: auto;
    }
  }

}
