.header {
  background: transparent url('../img/background.jpg') 0 0 no-repeat;
  background-size: cover;
  padding-top: (147px/1920px*100%);
}

.header__logo {
  margin-top: (148px/1920px*100%);
}

.header__scroll {
  margin-top: (122px/1920px*100%);
}
